@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  /* border: 1px solid blue; */
  width: 100%;
  text-align: center;
  min-height: 100vh;
  background-color: #c7edff;
}

#app {
  width: 100%;
  height: 100%;
}

nav {
  background-color: #ffd700;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 56px;
}

nav ul li.navigation-menu {
  width: calc(100% / 3);
  display: flex;
}

nav ul li.navigation-menu.navigation-menu-logo {
  justify-content: flex-start;
}

nav ul li.navigation-menu.navigation-menu-logo a {
  display: flex;
  align-items: center;
}

nav ul li.navigation-menu.navigation-menu-searchBar {
  justify-content: center;
}

nav ul li.navigation-menu.navigation-menu-profile {
  justify-content: flex-end;
}

nav ul li .logo-short,
nav ul li .logo-full {
  max-height: 40px;
}

nav ul li .search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 40px;
}

nav ul li .search-bar {
  width: 90%;
  height: 100%;
  border-radius: 16px 0 0 16px;
  border: 1px solid #000;
  background-color: #e6e6fa;
  color: #c0c0c0;
  padding: 0 16px;
}

nav ul li .search-container button {
  width: 10%;
  height: 100%;
  text-align: center;
  line-height: 40px;
  background-color: #ff6347;
  border: 1px solid #000;
  border-left: none;
  border-radius: 0 16px 16px 0;
  color: #000;
}

nav ul li .search-container button:hover {
  cursor: pointer;
}

nav ul li button .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

nav ul li button {
  height: 34px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 10px;
  border: 1px solid #000;
  background-color: #ffd700;
  border-radius: 16px;
  color: #000;
}

nav ul li button:hover {
  cursor: pointer;
}

main {
  --heightNavUl: 56px;
  width: 100%;
  height: calc(100% - var(--heightNavUl));
  margin-bottom: 16px;
}

.feed-container {
  height: 100%;
}

.feed-container .feed-options {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 200px;
  height: 40px;
  margin-top: 16px;
  margin-bottom: 32px;
}

.feed-container .feed-options .feed-filter {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: fit-content;
  max-width: 320px;
  padding: 0 16px;
  height: 100%;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  background-color: #ff6347;
  border-radius: 8px;
}

.feed-container .feed-options .feed-filter .filter-option {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px;
  gap: 2px;
  border-radius: 5px;
}

.feed-container .feed-options .feed-filter .filter-option:hover {
  cursor: pointer;
  background-color: #ff6347;
}

.feed-container
  .feed-options
  .feed-filter
  .filter-option
  .material-symbols-outlined {
  color: #98fb98;
}

.feed-container .feed-content {
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 16px 0 16px;
}

.feed-container .feed-content button.select-video {
  background: none;
  border: none;
  border-radius: 16px;
  padding: 8px;
}

.feed-container .feed-content button.select-video:hover {
  cursor: pointer;
  background-color: #fff;
}

.feed-container .feed-content button.select-video .feed-video {
  height: 310px;
  width: 350px;
  overflow: hidden;
}

.feed-container .feed-content button.select-video .feed-video .thumbnail {
  aspect-ratio: 16/9;
  width: 100%;
  height: 196.875px;
  /* text-align: start; */
  border-radius: 8px;
}

.feed-container
  .feed-content
  .select-video
  .feed-video
  .thumbnail
  .video-thumbnail {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.feed-container
  .feed-content
  .select-video
  .feed-video
  .thumbnail
  .video-duration-position {
  position: relative;
  bottom: 24px;
  left: 225px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  width: 35%;
}

.feed-container
  .feed-content
  .select-video
  .feed-video
  .thumbnail
  .video-duration-position
  .video-duration-info {
  width: fit-content;
  max-width: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.25);
  color: #fff;
  text-shadow: 1px 0 2px #000000, -1px 0 2px #000, 0 1px 2px #000,
    0 -1px 2px #000;
  padding: 1px 3px;
  border-radius: 5px;
  font-size: 0.85rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  letter-spacing: 0.75px;
}

.feed-content .select-video .feed-video .video-info {
  height: fit-content;
  max-height: calc(100% - 204.883px);
  margin-top: 8px;
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  flex-direction: column;
}

.feed-content .select-video .feed-video .video-info .video-title {
  width: 100%;
  max-height: 60px;
  overflow: hidden;
  line-height: 1;
  align-self: center;
  text-align: start;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #000;
}

.feed-content .select-video .feed-video .video-info .channel-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 30px;
}

.feed-content
  .select-video
  .feed-video
  .video-info
  .channel-info
  .channel-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feed-content
  .select-video
  .feed-video
  .video-info
  .channel-info
  .channel-logo
  .feed-avatar {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  object-fit: contain;
}

.feed-content
  .select-video
  .feed-video
  .video-info
  .channel-info
  .channel-name {
  text-align: start;
  font-family: "Lobster Two", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  width: 100%;
  max-height: 20px;
  color: #ff6347;
  overflow: hidden;
  margin: 0 8px;
}

.feed-content .select-video .feed-video .video-info .channel-info .feed-date {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
  padding: 3px 4px;
  border-radius: 12px;
  background-color: #98fb98;
}

.feed-content
  .select-video
  .feed-video
  .video-info
  .channel-info
  .feed-date
  .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 20;
  font-size: 0.7rem;
  color: #000;
}

.feed-content
  .select-video
  .feed-video
  .video-info
  .channel-info
  .feed-date
  .video-date {
  font-family: "Lato", sans-serif;
  font-size: 0.65rem;
  font-weight: 700;
  color: #000;
}
