* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  /* border: 1px solid blue; */
  width: 100%;
  text-align: center;
  min-height: 100vh;
  background-color: #202020;
}

#app {
  width: 100%;
  height: 100%;
}

nav {
  background-color: #191919;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 56px;
}

nav ul li.navigation-menu {
  width: calc(100% / 3);
  display: flex;
}

nav ul li.navigation-menu.navigation-menu-logo {
  justify-content: flex-start;
}

nav ul li.navigation-menu.navigation-menu-logo a {
  display: flex;
  align-items: center;
}

nav ul li.navigation-menu.navigation-menu-searchBar {
  justify-content: center;
}

nav ul li.navigation-menu.navigation-menu-profile {
  justify-content: flex-end;
}

nav ul li .logo-short,
nav ul li .logo-full {
  max-height: 40px;
}

nav ul li .search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 40px;
}

nav ul li .search-bar {
  width: 90%;
  height: 100%;
  border-radius: 16px 0 0 16px;
  border: 1px solid #404040;
  background-color: #202020;
  color: #c0c0c0;
  padding: 0 16px;
}

nav ul li .search-container button {
  width: 10%;
  height: 100%;
  text-align: center;
  line-height: 40px;
  background-color: #303030;
  border: 1px solid #404040;
  border-left: none;
  border-radius: 0 16px 16px 0;
  color: #c0c0c0;
}

nav ul li .search-container button:hover {
  cursor: pointer;
}

nav ul li button .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

nav ul li button {
  height: 34px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 10px;
  border: 1px solid #404040;
  border-radius: 16px;
  background: transparent;
  color: #ffd700;
}

nav ul li button:hover {
  cursor: pointer;
}

main {
  --heightNavUl: 56px;
  width: 100%;
  height: calc(100% - var(--heightNavUl));
  margin-bottom: 16px;
}

.feed-container {
  /* border: 1px solid red; */
  height: 100%;
}

.feed-container .feed-options {
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 200px;
  height: 40px;
  margin-top: 8px;
}

.feed-container .feed-options .feed-filter {
  /* border: 1px solid yellow; */
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: fit-content;
  max-width: 320px;
  padding: 0 16px;
  height: 100%;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #f2f2f2;
  background-color: #191919;
  border-radius: 8px;
}

.feed-container .feed-options .feed-filter .filter-option {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px;
  gap: 2px;
  border-radius: 5px;
}

.feed-container .feed-options .feed-filter .filter-option:hover {
  cursor: pointer;
  background-color: #202020;
}

.feed-container
  .feed-options
  .feed-filter
  .filter-option
  .material-symbols-outlined {
  color: #ffd700;
}

.feed-container .banner-info {
  /* border: 1px solid white; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: fit-content;
  max-height: 340px;
  margin: 24px;
  width: calc(100% - margin);
}

.feed-container .banner-info img {
  /* border: 3px solid #f2f2f2; */
  border-radius: 16px;
  box-shadow: 0 0 5px #c0c0c0;
}

.feed-container .feed-content {
  /* border: 1px solid pink; */
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 16px 0 16px;
}

.feed-container .feed-content button.select-video {
  background: none;
  border: none;
  border-radius: 16px;
  padding: 8px;
}

.feed-container .feed-content button.select-video:hover {
  cursor: pointer;
  background-color: #ffd70008;
}

.feed-container .feed-content button.select-video .feed-video {
  height: 310px;
  width: 350px;
}

.feed-container .feed-content button.select-video .feed-video .thumbnail {
  aspect-ratio: 16/9;
  width: 100%;
  text-align: start;
  border-radius: 16px;
}

.feed-container .feed-content .feed-video .thumbnail .video-thumbnail {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.feed-container
  .feed-content
  .feed-video
  .thumbnail
  .video-thumbnail
  .play-icon {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-icon .material-symbols-outlined {
  position: relative;
  bottom: 198px;
  left: -4px;
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 32px;
}
